---
layout_name: application
slug: /
---

<style>
    .button {
        -moz-border-radius: 8px;
        /*-moz-box-shadow: #005D48 0px 0px 10px;*/
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-border-radius: 8px;
        /*-webkit-box-shadow: #005D48 0 0 10px;*/
        -webkit-transition: all 0.5s ease;
        background-color: #005D48;
        background-image: -moz-linear-gradient(90deg, #005D48, #005D48);
        background-image: -ms-linear-gradient(90deg, #005D48, #005D48);
        background-image: -o-linear-gradient(90deg, #005D48, #005D48);
        background-image: -webkit-linear-gradient(90deg, #005D48, #005D48);
        background-image: linear-gradient(90deg, #005D48, #005D48);
        border-radius: 8px;
        border: 2px solid #005D48;
        box-shadow: #00AE43 0px 0px 10px;
        color: #00AE43;
        display: inline-block;
        font-size: 1.2em;
        margin: auto;
        padding: 15px;
        text-decoration: none;
        /*text-shadow: #00AE43 1px 1px 1px;*/
        transition: all 0.5s ease;
    }

    .button:hover {
        box-shadow: #00AE43 0px 0px 25px;
    }
</style>

{% assign env = "https://partners.platform-os.com" %}
{% if params.env != blank %}
    {% assign env = params.env %}
{% endif %}

<h2>Welcome to the platformOS 1-Click<br/>Demo Instance Creator!</h2>

<p>Clicking on the <b>Create Demo Instance</b> button will create a fully functional demo site for you by deploying the default platformOS codebase with a simple layout to a demo Instance URL.</p>
<p>
<form method="post" action="{{ env }}/demo">
    <input type="hidden" name="redirect_to"
           value="https://demo-instance-creator.prod01.oregon.platform-os.com/please-wait"/>
    <p><input class="button" type="submit" value="Create Demo Instance"/></p>
</form>
</p>

</body>
</html>
